<% content_for :sidenav do %>
<nav>
	<div id ="study-facets">
	  <ul>
	    <% @study_searches.each do |archive, search| %>
	        <li> <%= archive.name %> 
  	      <% for facet in search.facets  %>
  					<% if facet.rows.any? %>
    				<dl> 
  						<dt> <strong><%= Study::FACETS[facet.name.to_sym] %></strong> </dt>
  				    <% facet.rows.each do |row| %>
  				      <dd> <%= link_to first_n_words(5, row.value), search_path(:term => @term, :archive_id => archive.id, :filters => (params[:filters].dup << {facet.name => row.value})) %>  <%= row.count %></dd>
  				    <% end %>
  				  </dl>
  					<% end %>
  					</li>
	      <% end %>
	    <% end %>
	  </ul>
	</div>
</nav>
<% end %>