<div class="FCKThumb">
   <%= image_tag('/images/spacer.gif', :alt => archive_study.url_content, :style => "display:none", :class=>'image') %>

  <div class="FCKTitle">"<%= archive_study.study.title %>"</div>
  <div class="FCKFileDate"><%= archive_study.format_created_at %></div>
</div>
