<div class="FCKThumb">
  <%= image_tag('/images/spacer.gif', :alt => page.url_content, :style => "display:none", :class=>'image') %>

  <div class="FCKTitle">"<%= page.title %>"</div>
  <div class="FCKFileDate"><%= page.format_created_at %></div>
</div>
