<div class="FCKThumb">
  <%= image_tag('/images/spacer.gif', :alt => resource.url_content, :style => "display:none", :class=>'image') %>

  <div class="FCKTitle">"<%= resource.title %>"</div>  
  <div class="FCKTitle">"<%= resource.filename %>"</div>
  <div class="FCKFileDate"><%= resource.format_created_at %></div>
</div>

