
<h2>Shared Documents</h2>

<fieldset class="left half">
  <legend> Documents Tasks </legend>
  No tasks yet
</fieldset>

<fieldset class="left half">
  <legend>Document Management </legend>
  <%= link_to 'Upload Documents', new_staff_document_path %>
</fieldset>

<%= render(:partial => "index") %>
