<fieldset>
  <legend>Users</legend>

  <h3>Roles</h3>

  <ul>
  	<li>Administrator: technical user (all permissions).</li> 
  	<li>Manager: (all permissions).</li> 
  	<li>Publisher:(all permissions).</li> 
  	<li>Approver:(all permissions).</li> 
  	<li>Archivist: draft content, cannot publish content.</li> 
  	<li>Member: save searches, no CMS access.</li> 
  </ul>

  <br>

	<%= render(:partial => "users_table", :locals => {:users => @users}) %>

</fieldset>