//CSS done by TFW, mainly for unobtrusive js
//for the page tree

button{
  background: #fff;
  border: solid 1px #000;
  color: #000;
}

.tree-hover{
  background: #fdd;
}

.tree-item{
  padding: 2px;
  list-style: none;
}

.tree-item span:hover{
  background: #ddd;
  cursor: pointer;
}

.tree-item span{
  border-bottom: solid 1px #aaa;
}

form.tree-form {
	display: inline;
}

/*placeholder icon css */

.placeholder-icon { 
	background: #333 no-repeat 5px center;
	z-index: auto;
}
.draggable{}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

/* Content Area */
div.content-area {
  border: 1px solid #bababa;
  background: #fff;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
  float: left;
  width: 100%;
}
div.content-area h2 {
  font-size: 14pt;
  margin: 0;
  padding: 1em;
  color: #3a3a3a;
}
div.content-area h3 {
  color: #2f658f;
  border-top: 1px solid #bababa;
  background: #f0f0f0;
  padding: 0.4em 1em;
  clear: left;
}
div.content-area h3 a {
  font-size:smaller;
  float: right;
  font-weight: normal;
}
dl, p, div.content-area ol {
  margin: 1.2em;
}

div.content-area fieldset fieldset {
/*  margin: 0;*/
}

p {
  margin-bottom: 0;
}
dl#log dt {
  font-weight: bold;
  float:left;
}
dl#log dd {
  margin: 0 0 0 15%;
  padding-bottom:0.5em;
}
dl.issue-metadata {
  width: 45%;
  min-width: 375px;
  float: left;
  padding: 1em;
  border: 1px solid #bababa;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
dl.issue-metadata dt a {
  font-weight: bold;
}
dl.issue-metadata dt span {
  float: right;
  font-size: smaller;
}
dl.issue-metadata dt span abbr {
  font-size: larger;
  font-weight: bold;
}
dl.issue-metadata dt {
  font-weight: bold;
  background: url(/images/structure/icon_task.gif) no-repeat;
  height:16px;
}
dl.issue-metadata dt, 
dl.issue-metadata dd {
  padding-left: 20px;
  margin-left: 0;
}
dl.issue-metadata dd {
  margin-bottom: 1em;
}
dl.issue-metadata dd ol li{
  list-style-type: decimal;
}

/* Preview Link */
a#preview-link {
  background: url(/images/structure/icon_preview.png) no-repeat 5px center;
  padding: 5px 0 5px 28px;
  
}

/* News */

.news ul {  /* Override the common.css settings */
	padding-left: 0px;
}
.news li {
	list-style: none;
}
.box {	    /* Put a nice box around something */
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 10px;
}

/* Fieldset and legend create a rounded border with a label in the top left border */
.news fieldset {
	background: #f2f2f2;
	padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.news legend {
	font-size: 1.2em;
	padding: 2px 5px;
}

/* Layout side-by-side boxes */
.news .half {
	width: 45%;
	height: 100%;
	min-width: 300px;
}
.news .left {
	float: left;
}
.news .clear-left {
	clear: left;
}

/* More work needed here for nice tables */
.news table {
	width: 95%;
}
.news table td, .news table th {
	padding: .5em 1em;
	vertical-align: top;
}
.news table thead {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
}
/* A news item in the news summary page */
.content .news p {
        border-bottom: 0px;
	padding-bottom: 0px;
	margin: 0.2em;
}

#search-results-table{
  width: 100%;
}

#search-results-table td {
  padding: 5px;
}

