/* MENU */

.mainnav ul {
	float: left;
	padding: 0px;
	margin: 0px;
}

.mainnav ul li a, .mainnav ul li {
	float: left;
}

.mainnav ul li {
	list-style-type: none;
	position: relative;
	background: #292929;
	background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
	background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
	border-right: 1px solid #000;
	margin: 0px;
	padding: 0px;
}

.mainnav ul li a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #333;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	font-size: 10px;
}

.mainnav ul li a:hover {
	background: #1d1d1d;
	background: -moz-linear-gradient(top, #050505, #1d1d1d);
	background: -webkit-gradient(linear, left top, left bottom, from(#050505), to(#1d1d1d));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

.mainnav ul li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
 -moz-box-shadow:0px 2px 2px #666;
	-webkit-box-shadow:0px 2px 2px #666;
	box-shadow:0px 2px 2px #666;
}

.mainnav ul li:hover > ul {
 display: block;
}

.mainnav ul li ul li, .mainnav ul li ul li a {
	float: none;
	border-style: none;
}

.mainnav ul li ul li {
	_display: inline; /* for IE6 */
	color: #000;
}

.mainnav ul li ul li a {
	display: block;
	width: 150px;
	background: #FFF;
	color: #000;
	border-bottom: 1px solid #CCC;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mainnav ul li:first-child, .mainnav > ul > li:first-child a {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
.mainnav ul li:last-child, .mainnav > ul > li:last-child a {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}



.mainnav ul li ul li a:hover {
	display: block;
	width: 150px;
	background: #E8E8E8;
	color: #000;
}

/* SUBSUB Menu */

.mainnav ul li ul li ul {
 display: none;
}

.mainnav ul li ul li:hover ul {
	left: 100%;
	top: 0;
}

.mainnav ul li ul {
}

.nav ul li:first-child {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
.nav ul li:last-child{
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	
}
