.formtastic #menusearch {
	background: #FFF;
	border-style: none;
	height: 42px;
	width: 150px;
	clear: left;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	padding-right: 10px;
	padding-left: 10px;
}
.formtastic #search_button {
	margin: 0px 0px -12px;
	padding: 0px;
}
.formtastic #login_name {
	border-style: none;
	height: 23px;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	margin-right: 5px;
}
.formtastic #login_pass {
	border-style: none;
	height: 23px;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	margin-right: 5px;
}
.formtastic #enter_button {
	margin: 0px;
	padding: 0px;
}

form.formtastic fieldset {
  overflow: visible;
  padding-top: 1em;
}

form.formtastic ol li, form.formtastic ul li { list-style:none; }

form.formtastic fieldset.buttons { margin-top: 2em; }

form.formtastic fieldset.buttons ol li { 
  clear: none;
  width: auto;
  float: left;
  padding: 1em;
}

form.formtastic fieldset > ol > li {
  overflow: visible;
  clear: left;
  margin-top: 1em;
}