.formtastic #menusearch {
	background: #FFF;
	border-style: none;
	height: 42px;
	width: 112px;
	clear: left;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	padding-right: 10px;
	padding-left: 10px;
}
.formtastic #search_button {
	margin: 0px 0px -12px;
	padding: 0px;
}
.formtastic #login_name {
	border-style: none;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	margin-right: 5px;
	height: 23px;
}
.formtastic #login_pass {
	border-style: none;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	margin-right: 5px;
	height: 23px;
}
.formtastic #enter_button {
	margin: 0px;
	padding: 0px;
}
.formtastic #logout_button {
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 2px 0px 5px;
	float: right;
	border-left: 1px solid #999;
}
.formtastic #remember_me {
	float: left;
	margin-right: 4px;
	display: block;
	margin-top: 6px;
	padding: 0px;
}
.formtastic label {
	text-align: right;
	float: left;
	margin-top: 7px;
	padding-right: 5px;
	line-height: 1;
	font-size: 11px;
}
.formtastic #register_button {
	margin: 2px 10px 5px 0px;
	float: right;
	border-left: 1px solid #999;
	padding: 0px 0px 0px 10px;
}
