//CSS done by TFW, mainly for unobtrusive js

//for the page tree
/*button{
  background: #fff;
  border: solid 1px #000;
  color: #000;
}
*/
.tree-hover{
  background: #fdd;
}

.tree-item{
  padding: 2px;
  list-style: none;
}

.tree-item span:hover{
  background: #ddd;
  cursor: pointer;
}

.tree-item span{
  border-bottom: solid 1px #aaa;
}

form.tree-form {
	display: inline;
}

/*placeholder icon css */

.placeholder-icon { 
	background: #333 no-repeat 5px center;
	z-index: auto;
}
.draggable{}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

/* Content Area */
p {
  margin-bottom: 0;
}
dl#log dt {
  font-weight: bold;
  float:left;
}
dl#log dd {
  margin: 0 0 0 15%;
  padding-bottom:0.5em;
}
dl.issue-metadata {
  width: 45%;
  min-width: 375px;
  float: left;
  padding: 1em;
  border: 1px solid #bababa;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
dl.issue-metadata dt a {
  font-weight: bold;
}
dl.issue-metadata dt span {
  float: right;
  font-size: smaller;
}
dl.issue-metadata dt span abbr {
  font-size: larger;
  font-weight: bold;
}
dl.issue-metadata dt {
  font-weight: bold;
  background: url(/images/structure/icon_task.gif) no-repeat;
  height:16px;
}
dl.issue-metadata dt, 
dl.issue-metadata dd {
  padding-left: 20px;
  margin-left: 0;
}
dl.issue-metadata dd {
  margin-bottom: 1em;
}
dl.issue-metadata dd ol li{
  list-style-type: decimal;
}

/* Preview Link */
a#preview-link {
  background: url(/images/structure/icon_preview.png) no-repeat 5px center;
  padding: 5px 0 5px 28px;
}

/* Content Area */

.menu ul {  /* Override the common.css settings */
	padding-left: 0px;
}

.content-area div {
	display: block;
	position: relative;
	padding-left: 210px;
	margin-right: 40px;
}

.content-area li {
	list-style: none;
}
.box {	    /* Put a nice box around something */
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 10px;
}

/* Fieldset and legend create a rounded border with a label in the top left border */
.content-area fieldset {
/*	background: #f2f2f2; */
	background: whitesmoke;
	padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.content-area fieldset a {
	text-decoration: none;
}

.content-area legend {
	font-size: 1.2em;
	padding: 2px 5px;
}

/* Layout side-by-side boxes */
.content-area .half {
	width: 45%;
	height: 100%;
	min-width: 300px;
}
.content-area .left {
	float: left;
}
.content-area .clear-left {
	clear: left;
}


/*White boxes*/
/*div#white-box{
	background: white;
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 10px;	
}
*/
/* More work needed here for nice tables */
.content-area table {
	width: 95%;
}
.content-area table td, .content-area table th {
	padding: .5em 1em;
	vertical-align: top;
}
.content-area table thead {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
}

/* A news item in the news summary page */
.content .news p {
        border-bottom: 0px;
	padding-bottom: 0px;
	margin: 0.2em;
}

#search-results-table{
  width: 100%;
}

#search-results-table td {
  padding: 5px;
}

span.float-right {
   float: right;
   margin: 0 0 0 0.2em;
   padding-left: 0.2em;
 }

div.float-centre {
  width: 200px;
  margin: auto;
 }

.dataset-page{
  width: 100%;
  padding: 1em;
}


/* Search */
span.highlight {
  background-color: white;
  font-weight: bold;
}

/*Placeholder icons for manage layout*/

#dashboard {
  background: url(/images/icons/house.png) no-repeat 5px center;
}
#users {
  background: url(/images/icons/user.png) no-repeat 5px center;
}
#reports {
  background: url(/images/icons/report.png) no-repeat 5px center;
}
#adapt {
  background: url(/images/placeholders/4_sml.png) no-repeat 5px center;
}
#hccds {
  background: url(/images/placeholders/1_sml.png) no-repeat 5px center;
}
#usage-auditing {
  background: url(/images/icons/sum.png) no-repeat 5px center;
}

#news {
	background: url(/images/icons/feed.png) no-repeat 5px center;
}

#site-resources {
	background: url(/images/icons/images.png) no-repeat 5px center;
}

