@charset "ISO-8859-1";

nav ul {
	font-size: 11px;
}

.subnav ul {
	padding-left: 40px;
}
/* CSS Document */

.subnav ul li p {
	font-weight: bold;
	margin: 0px;
	padding: 5px 10px 5px 0px;
}
.subnav ul li {
	float: left;
	display: block;
	border-right: 1px solid #999;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
.subnav ul li a {
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	color: #666;
}
.subnav ul li a:hover {
	color: #000;
	display: block;
	background-color: #fff;
}
#admin  {
	background-color: #EDEDED;
	height: 5px;
}


#study-facets,
.archive_menu {
	float: left;
	width: 150px;
	display: block;
	z-index: 1;
	padding-left: 40px;
	position: relative;
}

.content nav.archive_menu {
}

.content nav.archive_menu ul{
	padding: 0px;
}
.content nav.archive_menu ul li{
	border-bottom: 1px solid #CCC;
	list-style-type: none;
	display: block;
	padding: 0px;
	background: no-repeat 0px 0px;
}
.content nav.archive_menu ul li a{
	display: block;
	padding-bottom: 8px;
	padding-left: 30px;
	text-decoration: none;
	padding-top: 8px;
	text-transform: uppercase;
	color: #999;
	background-position: 0px 0px;
	background-repeat:  no-repeat;
}
.content nav.archive_menu ul li a:hover, .content nav #study-facets a:hover {
	display: block;
	text-decoration: none;
	color: #000;
	background-position: 0px -32px !important;
	background-color: #e4e4e4;
}

.content nav.archive_menu ul li.ada a, .content nav #study-facets .ada a {
	background-image: url(../images/structure/menu_icon_ada.png);
	font-weight: normal;
}
.content nav.archive_menu ul li.social-science a, .content nav #browse-tree .social-science a, .content nav #study-facets .social-science a, .content nav.archive_menu ul li.science a, .content nav #browse-tree .science a, .content nav #study-facets .science a  {
	background-image: url(../images/structure/menu_icon_socialscience.png);
}
.content nav.archive_menu ul li.historical a, .content nav #browse-tree .historical a, .content nav #study-facets .historical a  {
	background-image: url(../images/structure/menu_icon_historical.png);
	z-index: auto;
}
.content nav.archive_menu ul li.indigenous a, .content nav #browse-tree .indigenous a, .content nav #study-facets .indigenous a  {
	background-image: url(../images/structure/menu_icon_indigenous.png);
	z-index: auto;
}
.content nav.archive_menu ul li.longitudinal a, .content nav #browse-tree .longitudinal a, .content nav #study-facets .longitudinal a {
	background-image: url(../images/structure/menu_icon_longitudinal.png);
	z-index: auto;
}
.content nav.archive_menu ul li.qualitative a, .content nav #browse-tree .qualitative a, .content nav #study-facets .qualitative a  {
	background-image: url(../images/structure/menu_icon_qualitative.png);
	z-index: auto;
}
.content nav.archive_menu ul li.international a, .content nav #browse-tree .international a, .content nav #study-facets .international a  {
	background-image: url(../images/structure/menu_icon_international.png);
	z-index: auto;
}
.content nav.archive_menu ul li.dashboard a {
	background-image: url(../images/structure/menu_icon_home.png);
	z-index: auto;
}
.content nav.archive_menu ul li.site-resources a {
	background-image: url(../images/structure/menu_icon_resources.png);
	z-index: auto;
}
.content nav.archive_menu ul li.users a {
	background-image: url(../images/structure/menu_icon_user.png);
	z-index: auto;
}
.content nav.archive_menu ul li.reports a {
	background-image: url(../images/structure/menu_icon_report.png);
	z-index: auto;
}
.content nav.archive_menu ul li.news a {
	background-image: url(../images/structure/menu_icon_news.png);
	z-index: auto;
}

.content nav.archive_menu ul li.adapt a {
	background-image: url(../images/structure/menu_icon_adapt.png);
	z-index: auto;
}

.content nav.archive_menu ul li.hccda a {
	background-image: url(../images/structure/menu_icon_hccda.png);
	z-index: auto;
}

.content nav.archive_menu ul li.usage-auditing a {
	background-image: url(../images/structure/menu_icon_usage.png);
	z-index: auto;
}
.content nav.archive_menu ul li.archive_current a {
	background-color: #333;
	background-image: url(../images/structure/menu_icon_current.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
