@charset "ISO-8859-1";

.subnav ul {
	padding-left: 40px;
}
/* CSS Document */

.subnav ul li p {
	font-weight: bold;
	margin: 0px;
	padding: 5px 10px 5px 0px;
}
.subnav ul li {
	float: left;
	display: block;
	border-right: 1px solid #999;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
.subnav ul li a {
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	color: #666;
}
.subnav ul li a:hover {
	color: #000;
	display: block;
	background: #FFF;
}
.content nav ul {
	padding: 0px;
}
.content nav ul li {
	border-bottom: 1px solid #CCC;
	list-style: url(none) none;
	display: block;
	padding: 0px;
}
.content nav ul li a {
	display: block;
	padding-bottom: 8px;
	padding-left: 30px;
	text-decoration: none;
	padding-top: 8px;
	text-transform: uppercase;
	color: #999;
}
.content nav ul li a:hover {
	display: block;
	text-decoration: none;
	color: #000;
	background: #E8E8E8 url(../images/structure/icon_hover.png) no-repeat 5px center;
}
#dashboard {
  background: url(/images/placeholders/1_sml.png) no-repeat 5px center;
}
#ada {
  background: url(/images/placeholders/4_sml.png) no-repeat 5px center;
}
#science {
  background: url(/images/structure/icon_socialscience.png) no-repeat 5px center;
}
#historical {
	background: url(/images/structure/icon_historical.png) no-repeat 5px center;
}
#indigenous {
	background: url(/images/structure/icon_indigenous.png) no-repeat 5px center;
}
#longitudinal {
	background: url(/images/structure/icon_longitudinal.png) no-repeat 5px center;
}
#qualitative {
	background: url(/images/structure/icon_qualitative.png) no-repeat 5px center;
}
#international {
  background: url(/images/structure/icon_international.png) no-repeat 5px center;
}
#users {
  background: url(/images/placeholders/2_sml.png) no-repeat 5px center;
}
#reports {
  background: url(/images/placeholders/3_sml.png) no-repeat 5px center;
}
#adapt {
  background: url(/images/placeholders/4_sml.png) no-repeat 5px center;
}
#hccds {
  background: url(/images/placeholders/1_sml.png) no-repeat 5px center;
}
#usage-auditing {
  background: url(/images/placeholders/1_sml.png) no-repeat 5px center;
}
.archive_current {
	background: #333 url(../images/structure/icon_current.png) no-repeat 5px center!important;
}

