nav.studynav {
/*	background: no-repeat;
	margin-left: 0px;
	display: block;
	position: relative;
	z-index: 3;
	text-transform: lowercase;*/
/*	padding: 0px 0px 0px 40px;
*/	
/*	float: left;
	margin: 0px;
	clear: none;
	padding-left: 40px;
	width: 150px;
	display: block;
	position: relative;
	z-index: 1;
*/		
}

.studynav li {
	display:inline
	list-style: none;
}