legend {
	display: block;
	position: relative;
	color: #000;
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 13px;
	padding-left: 0px;
	padding-top: 20px;
}
.concealed {
	display: none;
}

/*Tabbing*/
#tabs {
	overflow: auto;
	float: left;
	position: relative;
	margin-right: 50px;
	/*width: 220px;*/
}
#sub-menu {
}
#tabs ul, ul#sub-menu {
        display: block;
        overflow: auto;
        position: relative;
	list-style: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0 0 10px 0;
	font-size: 11px;
        border-bottom-width: 1px;
        border-bottom-color: #3B3B3B;
        padding: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        float: left;
        /*width: 200px;*/
        clear: right;
}
ul#sub-menu {
	float: none;
	width: 220px;
}

#tabs li, #sub-menu li, #study-results .pagination, #variable-results .pagination, #browse-results .pagination {
	border-top-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EDEDED;
	border-left-color: #EDEDED;
	background-color: #3B3B3B;
	border-right-style: none;
	padding-top: 10px!important;
	padding-right: 10px;
	padding-bottom: 10px!important;
	padding-left: 10px;
	display: block;
	float: left;
	color: #CCC;
	border-bottom-style: none;
        margin-right: 5px;

        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;

        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
}

#tabs li a, #sub-menu li a {
	text-decoration: none;
	padding: 0px;
	color: #999;
}

#tabs li a:hover, #sub-menu li a:hover {
	text-decoration: none;
	color: #FFF;
	cursor:pointer
}

.selected-tab {
	background-color: #DFDFDF !important;
	color: #000!important;
}

#sub-menu li {
	padding-top: 8px;
	padding-bottom: 8px;
}

#sub-tabs {
	float: left;
}

#study-results .pagination, #variable-results .pagination, #browse-results .pagination {
	float: right;
	background-color: #DFDFDF !important;
	color: #000!important;
	margin-right: 0;
}

/*Search Results*/
#search-results section {
	border: none;
}

#search-results, #search-results-ext, #browse-results-ext {
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	top: -22px;
}

#search-results p, #search-results-ext p, #browse-results-ext p {
	padding-top: 15px;
}


#search-results h1 {
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
	/*border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;*/
	font-weight: normal;
}

#search-results table {
	border-collapse: collapse;
	width: 100%;
	padding: 10px;
	padding-top: 10px;
	color: #666;
	padding-bottom: 5px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #EDEDED;
	border-bottom-color: #EDEDED;
	border-left-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

#search-results-ext, #browse-results-ext {
	border-collapse: collapse;
	padding-top: 10px;
	color: #666;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #EDEDED;
	border-bottom-color: #EDEDED;
	border-left-color: #EDEDED;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

#variables table {
	margin-bottom: 3em !important;
}
	
#search-results th, #search-results-ext th, #browse-results-ext th {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid!important;
	border-left-style: none;
	background-color: #E4E4E4;
	font-weight: bold;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px!important;
	margin-left: 0px;
	border-bottom-width: 1px!important;
	border-bottom-color: #FFF!important;
	text-align: left;
}
	
#browser-results th {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid!important;
	border-left-style: none;
	background-color: #E4E4E4;
	font-weight: bold;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px!important;
	margin-left: 0px;
	border-bottom-width: 1px!important;
	border-bottom-color: #FFF!important;
}

#search-results td, #search-results-ext td, #browse-results-ext td {
	border-bottom-style: solid;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
	}

.search-border fieldset {
/*	background: whitesmoke;*/
	padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #BABABA;
	border-radius:4px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
}

.selected-menu-item {
	text-transform: none;
	background-color: #DFDFDF !important;
	color: #000!important;
}

#search-results .ext-brief ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#search-results .ext-brief  li {
	display: inline;
}

#new_search {
	display: none;
	background: white;
}

#save-searches {
	position: absolute;
	top: 28px;
	right: 0px;
	}

#save-search-link {
	float:right;
}

#search-doc-link {
	position: absolute;
	top: 8px;
	right: 0px;
}

.filter {
	position: absolute;
	top: 5px;
	right: 90px;

}

/* Browse ---  */

/*#browse-results section{
	border: 1px solid;
}*/

#browse-tree, #study-facets {
	display: block;
	position: relative;
	float: left;
	/*width: 140px;*/
	z-index: 1;
	padding-left: 40px;
	margin-right: 20px;
	max-width: 25%;
}

#browse-tree a, #study-facets a {
	display: block;
	white-space: normal;
	list-style-type: none;
	background: no-repeat 0px 0px;
	padding-bottom: 8px;
	padding-left: 30px;
	text-decoration: none;
	padding-top: 8px;
	text-transform: uppercase;
	color: #999;
	background-position: 0px 0px;
	background-repeat:  no-repeat;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	margin-top: -1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DADADA;
}
#browse-tree div li, #study-facets div li {
	list-style-type: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}
#browse-tree div li a, #study-facets div li a {
	padding-right: 0px;
	padding-left: 35px;
	list-style-type: none;
	border-collapse: collapse;
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}
#browse-tree div li a:hover, , #study-facets div li a:hover {
	list-style-type: none;
	color: #4E4AF0;
	background-color: transparent;
}

#fake-children li a, #fake-children li a:hover  {
	padding-left: 30px!important;
	background-image: url(img/pc.de/attibutes.png)!important;
	background-position: 7px 0px!important;
	margin-top: 0px;
}

#browse-tree a:hover, , #study-facets a:hover {
	display: block;
	text-decoration: none;
	color: #000;
	background-position: 0px -32px !important;
	background-color: #e4e4e4;
}

#browse-navigation {
	overflow: auto;
}

#browse-results {
	position: relative;
	padding-bottom: 8px;
}

#browse-results p {
	padding-top: 15px;
}
    

#browse-results h1 {
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	font-weight: normal;
	overflow: hidden;
}
    

#study-browser {
	float: left;
	margin-right: 30px !important;
	color: #000;
	padding-top: 11px;
	padding-bottom: 11px;
}
#browse-results-title, #study-results-title, table.content {
	position: relative;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #EDEDED;
	border-bottom-color: #EDEDED;
	border-left-color: #EDEDED;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	clear: none;
}

/*Study Page*/

#study section{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin: 0px;
}

#study table, #browse-results-title table, #search-results-ext table, #browse-results-ext table, table.content {
	border-collapse: collapse;
	padding: 0px;
	border-top-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333;
	border-right-color: #EDEDED;
	border-bottom-color: #EDEDED;
	border-left-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display: inline-table;
}

#study table, #browse-results-title table, #search-results-ext table, #browse-results-ext table {
	width: 100%!important;
	float: left;
	border-top: 1px solid #999;
}

#study-table, #related-material-table {
	width: 100%;
	border-collapse: collapse;
}

#study th, #browse-results-title th, #search-results-ext th, #browse-results-ext th, table.content th {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid!important;
	border-left-style: none;
	background-color: #E4E4E4;
	font-weight: bold;
	padding: 5px;
	margin-top: 0px!important;
	margin-right: 0px;
	margin-bottom: 1px!important;
	margin-left: 0px;
	border-bottom-width: 1px!important;
	border-bottom-color: #FFF!important;
	text-align: left;
}
#study td, #browse-results-title td, table.content td {
	border-bottom-style: solid;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#search-results-ext td, #browse-results-ext td {
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}


#study-table tbody, #related-material-table tbody,
#browse-results-title tbody, #search-results-ext tbody, #browse-results-ext tbody, table.content tbody {
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}



/*Misc.*/

span.float-right {
   float: right;
   margin: 0 0 0 0.2em;
   padding-left: 0.2em;
 }

div.float-centre {
  width: 200px;
  margin: auto;
 }

div.float-left {
	float: left;
	padding-top: 8px;
	padding-right: 50px;
	background-color: #EEE;
	clear: none;
	margin-left: 140px;
	padding-bottom: 8px;
	padding-left: 10px;
	margin-top: 2px;
	margin-right: 15px;
}

span.highlight {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.standard {
}

.alt, table.content tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}

#title-view-link a:hover {
	cursor: pointer !important; 
}
.search-border {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#study-facets div dl dd {
	text-align: left;
	padding-top: 5px;
	display: block;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #EDEDED;
	padding-left: 10px;
	padding-right: 10px;
}
#study-facets div dl dd a {
	text-align: left;
	clear: none;
	padding-top: 10px;
	display: inline;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 0px;
}

#study-facets div dl dd a:hover {
	text-decoration: underline;
}

#study-facets div dl dt strong {
	background-color: #EDEDED;
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#variable-results {
	margin-top: 0px;
}
#search-results-ext tr td p, #browse-results-ext tr td p {
	color: #666;
	font-size: 11px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDED;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#search-results-ext tr td strong, #browse-results-ext tr td strong {
	padding-right: 5px;
	color: #333;
}

#search-results-ext tr, #browse-results-ext tr {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
    
#search-results-ext td, #browse-results-ext td {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
#search-results-ext tr td table tr, #browse-results-ext tr td table tr {
	text-align: left;
	width: 100%!important;
	display: block;
	background-color: #EDEDED;
	margin-bottom: 10px;
}
#search-results-ext tr td table tr td, #browse-results-ext tr td table tr td {
	border-collapse: collapse;
	text-align: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDEDED;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EDEDED;
	font-weight: bold;
	color: #333;
	background-color: #EDEDED;
	float: none;
	margin: 0px;
}

.search-border table tr td span {
	position: relative;
	top: -3px;
	padding-left: 5px;
}

#rms {
	float: left;
	width: 100%;
}
