.concealed {display: none;}

#search-tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#search-tabs li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0 0 0;
}

#search-tabs li a {
	padding: 0 1em;
}

.selected-tab {
	padding-bottom: 5px; 
	background: white;
}

#search-results section{
	border: 1px solid;
	clear: both;	
}

#search-results table {
  width: 100%;
}

#search-results th {
  padding: 5px;
	background: ghostwhite;
}

#search-results td {
  padding: 5px;
}

#search-results #sub-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#search-results #sub-menu  li {
	display: inline;
}

.selected-menu-item {
	font-weight: bold;
	text-transform: uppercase;
}

span.float-right {
   float: right;
   margin: 0 0 0 0.2em;
   padding-left: 0.2em;
 }

div.float-centre {
  width: 200px;
  margin: auto;
 }

