# Warning: This file is NOT to be checked in to version control
#
# Define secret information for the website that would threaten a security
# breach if it were made public. This information is not stored in the
# version control repository since that information is publically available.

unless defined? Secrets
  module Secrets
    # Database
    DATABASE_HOST     = 'pdb2.anu.edu.au'
    DATABASE_USERNAME = '<cms db user'
    DATABASE_PASSWORD = '<cms db password>'

    NESSTAR_DATABASE_HOST     = 'palo.anu.edu.au'
    NESSTAR_DATABASE_USERNAME = '<nesstar db user>'
    NESSTAR_DATABASE_PASSWORD = '<nesstar db password>'

    # Cookie secret token
    SECRET_TOKEN = '<a random hex string of length 128 or so>'

    # API key
    API_KEY = '<a random hex string of length 32 or so>'
  end
end
