<% content_for :sidenav do %>
  <ul>
    <% @archive_searches.each do |archive, search| %>
      <% unless archive == Archive.ada %>
        <li> <%= archive.name %> </li>
      <% else %>
        <li>Global </li>
      <% end %>
      <% for facet in search.facets %>
				<h3><%= facet.name %></h3>
        <ul>
		    <% facet.rows.each do |row| %>
		      <li> <%= link_to row.value, search_path(:term => @term, :archive_id => archive.id, :filters => (params[:filters] << {facet.name => row.value})) %>  <%= row.count %></li>
		    <% end -%>					
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

