<article>
	<h1>Home</h1>
                        
	<aside>
		<h2>Latest News</h2>
		<div class="news">
		  <h2><a href="#">2010 IASSIST Conference </a></h2>
              <h3>5 May 2010 </h3>
              <p>Staff from ADA’s nodes will be presenting at the 2010 IASSIST Conference in June 2010 under the topics ‘Developing a Longitudinal  <a href="#">Read more</a>              </p>
              <h2><a href="#">Twenty cubes now available</a></h2>
              <h3>5 May 2010
              </h3>
              <p>Twenty cubes from the 1966 Census are now available in the ADA Data Catalogue. <br>
                <a href="#">Read more</a>
              </p>
              <h2><a href="#">Mapping variable added</a></h2>
          <h3>5 May 2010
              </h3>
              <p>The Australian Survey of Social Attitudes, the Australian Election Study and the Australian Demographic Data Bank dataset.<br>
                <a href="#">Read more</a>
              </p>
              <h2><a href="#">Qualitative researchers callout</a></h2>
          <h3>23 December 2009
              </h3>
              <p>Qualitative researchers are invited to respond to a National Consultation Process.<a href="#">Read more</a></p>
	  </div>
			</aside>
          
          <aside class="datasets">
		<h2>New datasets</h2>
		<h3>Recent data deposits <br>
		  (since May 2010)</h3>
		<ul>
		  <li><a href="#"> Australian Election Database - Western Australia House of Assembly Party data</a></li>
		  <li><a href="#"> Australian Election Database - Western Australia House of Assembly Party data</a></li>
		  <li><a href="#">Longitudinal Surveys of Australian Youth, 2006 Cohort</a></li>
		  <li><a href="#"> The 2007 National Children's Nutrition and Physical Activity Survey</a></li>
		  <li><a href="#">The Australian Survey of Social Attitudes, 2009</a></li>
		  <li><a href="#">Indonesian Susenas 2002, Household Characteristics (Core)</a></li>
		  <li><a href="#">Indonesian Susenas 2004, Household Characteristics (Core)</a></li>
		  <li><a href="#">Indonesian Susenas 2004, Individual Characteristics (Core)</a></li>
		  <li><a href="#">Indonesian Susenas 2004, Household Health and Housing Characteristics (Module)</a></li>
		  <li><a href="#">Indonesian Susenas 2004, Household Member Characteristics (Module)</a></li>
		  <li><a href="#"> Indonesian Susenas 2004, Child Health Characterstics (Module)</a></li>
		  <li><a href="#"> Indonesian Susenas 2004, Individual Health Characterstics (Module)</a></li>
		  </ul>
  </aside>     

	<%= home_page.body.html_safe if home_page.body %>
     
</article>