<article>
  <h1>Home</h1>

  <%= home_page.body.html_safe if home_page.body %>

  <%= render(:partial => 'pages/news_archives', :object => @news_archives) if defined?(@news_archives) %>
  <%= render(:partial => 'pages/archive_studies', :object => @archive_studies) if defined?(@archive_studies) %>
</article>
