
<section id="variable-results" <%= conceal_unless(['var'], params[:show] || "study") %>>
	<%= will_paginate(@variables_search.results , :params => {:show => "var"}) %>

    <table id="search-results-table" border=1>
      <thead>
        <tr>
          <th>Variable</th>
          <th>Archive</th>
        </tr>
      </thead>
      <tbody>
        <% @variables_search.each_hit_with_result do |hit, variable| %>
<!-- move to shared partial -->
          <%= render :partial => "/shared/variable_tr", :locals => {:hit => hit, :variable => variable} %>
        <% end %>
      </tbody>
    </table>
</section>
