<% content_for(:breadcrumbs) do %>
	Home
<% end %>

<script type="text/javascript">

	function log(){
		$.get("/staff/activity_logs", 
				function(logs){
					$("#log").html(logs)
				}
			);
	};
	
log();
setInterval("log();", 5000);

</script>

<% if current_user.has_role?(:administrator)%>
	<table width=60%>
		<% i = 0
		for file in dashboard_partials %>
			<%if i == 0 %> <tr> <% end %>
				<td valign=top>
					<%= render(:file => file) %>
				</td>
			<%if i == 1 %> </tr> <% end %>
			<% i += 1 %>
		<% end %>
	</table>
<% end %>


<h2>Activity Log</h2>
<div id="log">

</div>
