<% content_for(:breadcrumbs) do %>
	Home
<% end %>

<% content_for(:js) do %>
	$(function() {

	  var timer = setInterval( boo, 100);

	  function boo() {
			alert("boo");
	  }
<% end %>

<% if current_user.has_role?(:administrator)%>
	<table width=60%>
		<% i = 0
		for file in dashboard_partials %>
			<%if i == 0 %> <tr> <% end %>
				<td valign=top>
					<%= render(:file => file) %>
				</td>
			<%if i == 1 %> </tr> <% end %>
			<% i += 1 %>
		<% end %>
	</table>
<% end %>


<h2>Activity Log</h2>

