<% content_for(:breadcrumbs) do %>
Home
<% end %>

<script type="text/javascript">
  function log(){
    $.get("/staff/activity_logs", function(logs){
      $("#log").html(logs)
    });
  };
  log();
  setInterval("log();", 5000);
</script>


<% if current_user.can_approve? %>
  <fieldset>
    <legend> Your Tasks </legend>
    <p>The following content is awaiting publishing approval.</p>

    <%= image_tag('icons/page.png')%> Pages:

    <% @draft_pages.each do |p| %>
      <%= link_to p.title, edit_staff_archive_page_path(p.archive, p) %> <br>
    <% end %>

    <br>

    <%= image_tag('icons/newspaper.png')%> News:
  

  </fieldset>
<% end %>

<fieldset>
  <legend id="logs" title="Display More Logs">Recent Activity</legend>
  <dl id="log">
    <!-- dynamically replaced with AJAX callback, above -->
	</dl>
</fieldset>
