<% content_for(:breadcrumbs) do %>
Home
<% end %>

<script type="text/javascript">
  function log(){
    $.get("/staff/activity_logs", function(logs){
      $("#log").html(logs)
    });
  };
  log();
  setInterval("log();", 5000);
</script>


<% if current_user.is_approver? %>
<fieldset>
  <legend> Your Tasks </legend>
  <p>A summary of the work assigned to and requested of you in the system.</p>
</fieldset>
<% end %>

<fieldset>
  <legend id="logs" title="Display More Logs">Recent Activity</legend>
  <dl id="log">
    <!-- dynamically replaced with AJAX callback, above -->
	</dl>
</fieldset>
