<script type="text/javascript">
$(document).ready(function() {
  $("#studies-link").click(function() {
    $('#study-results').show();
    $('#study-facets').show();
    $('#variable-results').hide();
    $('#study-items').toggleClass('selected-tab', true);
    $('#variable-items').toggleClass('selected-tab', false);
  });

  $("#variables-link").click(function() {
    $('#variable-results').show();
    $('#study-results').hide();
    $('#study-items').toggleClass('selected-tab', false);
    $('#variable-items').toggleClass('selected-tab', true);
  });
});
</script>
<% cache "browse-catalog-#{@catalog ? @catalog.id : 'ada'}-p#{params[:page]}" do %>
  <section id="browse-results">
    <%= render(:partial => "studies", :locals => {:catalog => @catalog}) %>
  </section>
<% end %>