<li> <a> <%= catalog.title %></a>

<ul>
	<% for archive_catalog_study in catalog.archive_catalog_studies %>
		<li> <a href="<%=  archive_catalog_study.archive_study.path.slug %>" rel="explr-ajax"> <%= archive_catalog_study.archive_study.study.title %> </a> </li>
	<% end %>

	<%= render :partial => "catalog", :collection => catalog.children %>
</ul>

</li>


