<%
  current_archive_idx = @current_archive == Archive.ada ? ((0..(Archive.count - 1)).collect{|i| i}).join(",") : @ada_catalogs.keys.index(@current_archive) 
  
  content_for :js do 
    multi_accordion_on_archive('browse-tree', current_archive_idx)
 end %>
 
<% content_for :sidenav do %>
  <nav>
    <div id="browse-tree">
			<% @ada_catalogs.each do |archive, catalog| %>
			   <%= render :partial => "top_level_catalog", :locals => {:archive => archive, :top_level_catalog => catalog} %>
			<% end %>  		  		
    </div>
  </nav>
<% end %>  
	