<% content_for :sidenav do %>
  <nav>
    <div id="browse-tree">
			<% @ada_catalogs.each do |archive, catalog| %>
			   <%= render :partial => "top_level_catalog", :locals => {:archive => archive, :top_level_catalog => catalog} %>
			<% end %>  		  		
    </div>
  </nav>
<% end %>  
	