<% content_for :js do %>
	$('#tree').explrTree({
		ajaxContainerId	: 'study',
		treeHeight	: 'auto',
		treeWidth	: 'auto',
		ajaxLoadingText : '<p>loading data..</p>',
		folderTooltip	: 'click to expand/collapse'
	});
<% end %>

<% content_for :sidenav do %>
  <nav>
  	<div "study-facets">
		  <ul id="tree">
				<% @ada_catalogs.each do |archive, catalogs| %>
					<%= render :partial => "catalog", :collection => catalogs %>
				<% end %>
			</ul>
  	</div>
  </nav>

	<div id="study"></div>
<% end %>  
	