<%
  current_archive_idx = @ada_catalogs.keys.index(@current_archive) unless @current_archive == Archive.ada
 
  content_for :js do 
    multi_accordion_on_archive('browse-tree', current_archive_idx)
  end %>
 
<% content_for :sidenav do %>
  <nav>
    <div id="browse-tree">
			<% @ada_catalogs.each do |archive, catalog| %>
			   <%= render :partial => "top_level_catalog", :locals => {:archive => archive, :top_level_catalog => catalog} %>
			<% end %>
  		  		
		  <ul id= "tree">
			</ul>
    </div>
  </nav>
<% end %>  
	