<% content_for :js do %>
  $('#browse-tree').multiAccordion({active: [1, 2]});
	
<% end %>

<% content_for :sidenav do %>
  <nav>
    <div id="browse-tree">
			<% @ada_catalogs.each do |archive, catalog| %>
			   <%= render :partial => "top_level_catalog", :locals => {:archive => archive, :top_level_catalog => catalog} %>
			<% end %>
  		  		
		  <ul id= "tree">
			</ul>
    </div>
  </nav>
<% end %>  

<div id="study-browser"></div>
	