<% content_for :js do %>
  $('#tree-<%= archive.slug %>').explrTree({
  	ajaxContainerId	: 'study-browser',
  	treeHeight	: 'auto',
    <!-- treeWidth  : 450, -->
  	ajaxLoadingText : '<p>loading data..</p>',
  	folderTooltip	: 'click to expand/collapse'
  });	  
<% end %>

<h3><a href="#"><%= archive.name %></a></h3>
<div>
  <% if top_level_catalog %>
  <ul id='tree-<%= archive.slug %>'>
    <%= render top_level_catalog.children %>
  </ul>
  <% else %>
    empty
  <% end %>
</div>
