<% content_for :js do %>
  $('#tree-<%= archive.slug %>').explrTree({
  	ajaxContainerId	: 'browse-results',
  	treeHeight	: 'auto',
  	ajaxLoadingText : '<p> Loading studies ... </p>',
  });	  
<% end %>

<h3><a href="#"><%= archive.name %></a></h3>
<div>
  <% if top_level_catalog %>
  <ul id='tree-<%= archive.slug %>'>
    <%= render top_level_catalog.children %>
  </ul>
  <% else %>
    empty
  <% end %>
</div>
