<% content_for(:sidenav) do %>
  <%= render :partial => 'catalog_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Browsing: <%= @catalog.path.slug.gsub("/browse", "")  %>
<% end %>

<div id="browse-results">

</div>