<% content_for(:sidenav) do
    %>
      <%= render :partial => 'catalog_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
  <% if @catalog %>
	  Browsing <%= @catalog.path.slug.gsub("/browse", "")  %>
	<% else %>
	  Browsing <%= @current_archive.name %>
	<% end %>
<% end %>

<div id="browse-results">
  <%= render :partial => "browse" %>
</div>