<% content_for(:sidenav) do %>
  <%= render :partial => 'catalog_side_nav' %>
<% end %>

<% content_for(:breadcrumbs) do %>
	Browsing: <%= @catalog.path.slug.gsub("/browse", "")  %>
<% end %>

<div id="browse-results">
  <div id="tabs">
    <ul>
      <li id="study-items" <%= selected_tab_if(['title'], params[:show]) %>> <a id="studies-link">Studies</a> </li>
    </ul>
  </div>
  <br/>
  <p>
    Select an archive from the left menu and browse to the catalog or study you are interested in.
  </p>
</div>