@charset "ISO-8859-1";

/* CSS Document */

body {
	font: 11px/16px Arial, Helvetica, sans-serif;
	background: #E8E8E8!important;
}
h1 {
	font-size: 21px;
	color: #999;
	padding-bottom: 10px;
	padding-top: 15px;
}
h2 {
	font-size: 16px;
	text-transform: none;
	padding-top: 10px;
	color: #666;
	padding-bottom: 5px;
}
h3 {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
}
h5 {
	font-size: 11px;
	text-decoration: none;
	padding-top: 10px;
	font-weight: bold;
}
h6 { /* Used for Figure headings */
	color: #147B84;
	padding-bottom: 0.4em;
	font-size: 1em;
	padding-top: 1em;
}

p {
	font-size: 11px;
	padding-bottom: 5px;
	color: #000;
	padding-top: 0px;
}
ul, ol {
	font-size: 11px;
	padding-left: 20px;
}
li {
	list-style: square;
	display: list-item;
	padding-bottom: 5px;
}
a, a:visited {
	color: #666;
	text-decoration: underline;
}
a:hover {
	color: #039;
}
a:active {
	color: #850323;
}
.content article ul li:last-child {
	padding-bottom: 10px;
}
.news p {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.news h3{
	color: #000;
	font-size: 11px;
	padding: 0px 0px 10px;
	font-weight: bold;
}
.news h2 a{
	text-decoration: none;
	font-weight: normal;
}
header .masthead a  {
	display: block;
	width: 500px;
	overflow: hidden;
	height: 110px;
	font-size: 1px;
	text-decoration: none;
	text-indent: -1000px;
}
