@charset "ISO-8859-1";
/* CSS Document */

/* Clearing containers containing floated elements */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 - Note this rule won't validate CSS level 2.1, but does no damage */
*:first-child+html .clearfix { zoom: 1; } /* IE7 - Note this rule won't validate CSS level 2.1, but does no damage */