
<h2>Shared Images</h2>

<!-- <fieldset class="left half">
  <legend> Images Tasks </legend>
  No tasks yet
</fieldset>

<fieldset class="left half">
  <legend>Image Management </legend>
  <%= link_to 'Upload Images', new_staff_image_path %>
</fieldset> -->

<%= render(:partial => "index") %>
